@font-face {
    font-family           : Choplin-Medium;
    src                   : url("../fonts/Choplin-Medium.otf");
}

@font-face {
    font-family           : Choplin-ExtraLight;
    src                   : url("../fonts/Choplin-ExtraLight.otf");
}