.title_1
{
    font-family             : Choplin-Medium !important;
    font-size               : 40px !important;
    color                   : $white;
}

.title_2
{
    font-family             : Choplin-ExtraLight !important;
    font-size               : 24px !important;
    color                   : $dark-light-grey;
}

.title_3
{
    font-family             : Choplin-ExtraLight !important;
    font-size               : 24px !important;
    color                   : $light-black ;
}

.title_4
{
    font-family             : Choplin-ExtraLight !important;
    font-size               : 40px !important;
    color                   : $light-black ;
}

.title_5
{
    font-family             : Choplin-Medium !important;
    font-size               : 30px !important;
    color                   : $white;
}

.title_6
{
    font-family             : Choplin-ExtraLight !important;
    font-size               : 16px !important;
    color                   : $white;
}